<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/css/user.css" />
  </head>

  <body>
    <main>
      <div class="form-container">
        <h1>Login</h1>
        <form action="/api/v1/user/login" method="post">
          <label for="email">Email</label>
          <input type="email" name="email" id="email" />
          <label for="password">Password</label>
          <input type="password" name="password" id="password" />
          <p>
            Not registered? <a href="/api/v1/user/register">Please Register</a>
          </p>
          <button>Login</button>
        </form>
      </div>
    </main>
  </body>
</html>
